
@{
    ViewBag.Title = "Համակարգի մասին";
}

@section Styles {
    <style>
        ol {
            list-style: decimal;
            margin-left: 50px;
        }
        ul {
            list-style: circle;
            margin-left: 50px;
        }
    </style>

}

<div class="container">
    <h1>
        ՀԱՅԱՍՏԱՆԻ ՀԱՆՐԱՊԵՏՈՒԹՅԱՆ ԱՌՈՂՋԱՊԱՀՈՒԹՅԱՆ ՀԱՄԱԿԱՐԳՈՒՄ
        ՈՒՂԵԳՐՄԱՆ ԵՎ ՀԵՐԹԱԳՐՄԱՆ ՎԱՐՄԱՆ ԷԼԵԿՏՐՈՆԱՅԻՆ ԿԱՌԱՎԱՐՄԱՆ
        ՏԵՂԵԿԱՏՎԱԿԱՆ ՀԱՄԱԿԱՐԳ
    </h1>

    <h3>
        Նպատակը
    </h3>
    <p>
        Ուղեգրման եվ հերթագրման վարման էլեկտրոնային կառավարման տեղեկատվական համակարգի ներդրման նպատակն է ապահովել առողջապահության համակարգում Ուղեգրման և հերթագրման ավտոմատացում, որը հնարավորություն կտա պարզեցնել, թափանցիկ և վերահսկելի դարձնել ներկայումս գործող ուղեգրերի ստացման, տրամադրման և վերահսկման, ինչպես նաև հերթագրումների հաշվառման և վարման հետ կապված գործողությունները: Համակարգի ներդրումը կօգնի նաև մասնակիորեն վերահսկել բուժօգնության գործընթացը, համեմատել ուղեգրման ժամանակ դրված ախտորոշումը վերջնական ախտորոշման հետ, գնահատել բուժօգնության որակը, գնահատել ուղեգրման ծախսերը: Իսկ հերթագրման հետ կապված համակարգը հնարավորություն կտա ավտոմատացնել հերթագրման գործընթացը, բացառելով անձի սուբյեկտիվ միջամտությունը հերթագրման բոլոր փուլերում՝ սկսած ուղեգրման ժամանակ բժշկական կազմակերպությունների կողմից ծառայությունների հասանելության ստուգումից, ներառելով բյուջեի առկայության ստուգումը, հերթերի առկայության ստուգումը, հերթագրման թերթիկի ավտոմատ գեներացումը, քաղաքացու կողմից հերթագրման թերթիկի միջոցով հերթին հետևելը և այլն: Քաղաքացիները հնարավորություն են ստանում կատարել բժշկական կազմակերպության ընտրություն, խուսափում են այս կամ այն բուժհիմնարկ անհարկի այցերից և ճշտումներից, կրճատվում է ուղեգրերը ստանալու համար լրացուցիչ այցեր կատարելու անհրաժեշտությունը: Համակարգը հնարավորություն կտա նաև քաղաքացիներին տեղեկացված լինել, թե ո՞ր բժշկական կազմակերպություններում նրանք կարող են ստանալ ուղեգրում նշված համապատասխան ծառայությունները, ճշտել բժշկական կազմակերպություններում ծառայությունների հասանելությունը ինտերնետ կամ հեռախոսային կապի միջոցով, ուղղակի բժշկական կազմակերպություն այցելելով: Համակարգը հնարավորություն կտա նաև բուժհիմնարկներին խուսափել քաղաքացիների անհիմն ընդունելություններից, քանզի արդեն քաղաքացիները տեղյակ են թե ո՞ր կազմակերպությունում կա տվյալ ծառայության մատուցման պայմաններ, տեղեկացված է որ տվյալ բժշկական կազմակերպությունում կան հերթեր և այդ ծառայությունը տվյալ բժշկական կազմակերպությունում ստանալու համար որքան պետք է սպասել: Գրեթե բացառվում է նաև կեղծ ուղեգրումների տրամադրման հնարավորությունը՝ լոգինների և գաղտնաբառերի կառավարման միասնական համակարգի և ուղեգրման և հերթագրման ենթահամակարգերի բազմամակարդակ վերահսկման թույլտվությունների (Դերեր/Role) հասցեագրման միջոցով:
    </p>
    <p>
        Ծրագիրը հնարավորություն կտա նաև ապահովելու պատշաճ վերահսկողություն առողջապահության համակարգում ընդգրկված և ուղեգրման լիազորություններ ունեցող ստորաբաժանումների ամենօրյա գործունեության նկատմամբ, այդ թվում` կազմված ուղեգրերի և հերթագրումների, ուղեգրված անձանց մատուցված բուժօգնության որակի, ախտորոշման հիմնավորվածության, ուղեգրման անհրաժեշտության, նպատակայնության, հերթագրման թույլատրելիության առումներով, ինչպես նաև առանց տեղաշարժվելու, տեղեկանալ տեղերում ուղեգրման և հերթագրման լիազորությունների իրականացման և գործունեության կազմակերպման գործընթացներին:
    </p>

    <h3>
        Անհրաժեշտությունը
    </h3>
    <p>
        ՀՀ առողջապահության համակարգում ուղեգրման և հերթագրման էլեկտրոնային կառավարման համակարգի ներդրման անհրաժեշտությունը պայմանավորված է այս համակարգերում թափանցիկության և հաշվետվողականության մակարդակի բարձրացմամբ, հնարավոր կոռուպցիոն ռիսկերի կրճատմամբ, որոնք մեծամասամբ պայմանավորված են քաղաքացիներին այս կամ այն բուժհիմնարկ ուղղորդմամբ և անվերահսկելի հերթագրումների առաջացմամբ: Բացի դա, ներկայումս իրականացնել ուղեգրման և հերթագրման գործընթացների համապարփակ մոնիտորինգ գրեթե անհնար է, որովհետև այդ գործընթացները իրականացվում են առանձին հաշվառման և հաշվետվական մեխանիզմներով, թղթային ձևերով և բուժհիմնարկներում պահվող գրանցման մատյաններով, որոնց տարեկան ծավալը գերազանցում է 250.0 հազար դեպք (230.0 հազար ուղեգրման և 20.0 հազար հերթագրումների դեպքեր)՝ պահանջելով մեծ թվով մասնագիտացված մարդկային ռեսուրս, հսկայական ժամանակ և նյութական ու տեխնիկական միջոցներ: Բժշկական կազմակերպությունների և այլ ուղեգրող կազմակերպությունների ներկայացուցիչները մեծամասամբ տեղեկացված չեն լինում այս կամ այն բժշկական կազմակերպությունում առկա ֆինանսական հնարավորությունների վերաբերյալ, ինչի պատճառով քաղաքացիները ստիպված են լինում անհարկի այցելություններ կատարել բժշկական կազմակերպություններ, ճշտումներ կատարել և այլն: Քաղաքացիները տեղեկացված չեն, թե ուղեգրում նշված ծառայությունները որ բժշկական կազմակերպությունում կարող են մատուցվել, ինչը հնարավորություն է տալիս ուղեգրողներին ուղղորդել քաղաքացիներին՝ խորհուրդ տալով դիմել այս կամ այն բժշկական կազմակերպություն: Հերթագրումների հաշվառման համակարգի բացակայությունն էլ հնարավորություն է տալիս քաղաքացիներին անհարկի մերժել՝ նշելով ֆինանսների բացակայությունը կամ բյուջեի սպառումը, ստիպել նրանց լրացուցիչ վճարումներ կատարել առանց հերթագրման կամ հերթից դուրս հոսպիտալացնելու համար, ինչու չէ նաև ամբողջությամբ վճարել մատուցված ծառայույթունների համար` վերջիններիս սպասարկելով վճարովի սկզբունքով:
    </p>
    <p>
        Բարձր տեխնոլոգիաների կիրառմամբ ներդնելով  ուղեգրման և հերթագրման միասնական էլեկտրոնային ավտոմատացված համակարգ, հնարավորություն կտա զգալիորեն խնայել միջոցներն ու ժամանակը, ինչպես նաև ապահովել դրանց կազմման, ներկայացման, ամփոփման, վերլուծության և դրանցից օգտվելու մատչելիությունն ու արդյունավետությունը: Համակարգի ներդրմամբ հնարավորություն կստեղծվի օգտվել ոչ միայն ուղեգրման և հերթագրման կազմակերպման վերաբերյալ արձանագրված անհատական ու ամփոփ թվային տվյալներից, այլ նաև պատկերացում կազմել բուն աշխատանքի ծավալների, բովանդակության և ընթացքի մասին` ըստ ժամանակագրական, տարածքային, ախտորոշման, բժշկական կազմակերպությունների և այլ կտրվածքներով՝ հրաժարվելով այս կամ այն գործընթացի վերաբերյալ փաստաթղթեր փոխանակելու, զեկուցումներ ներկայացնելու և անցկացնելու, պարզաբանումներ տալու և նմանատիպ այլ ժամանակատար ու ծախսատար գործընթացներից:
    </p>

    <h3>
        Համակարգի նկարագիրը
    </h3>
    <h4>
        Ուղեգրման ենթահամակարգ
    </h4>
    <p>Ուղեգրման ենթահամակարգը ունի 3 առանձին գործառույթներ իրականացնելու հնարավորություն.</p>
    <p>
        <strong>1. Ուղեգրման համար անհրաժեշտ փաստաթղթերի ներկայացում (դիմում)</strong>:
        <br />
        Ուղեգրվող անձը հնարավորություն ունի առցանց ուղեգրող կազմակերպությանը ներկայացնի ուղեգրման համար անհրաժեշտ փաստաթղթերի էլեկտրոնային տարբերակները (սկան՝ PDF ֆորմատով), ինչպես նաև լրացնի էլեկտրոնային դիմումի ձև: Համակարգը ավտոմատ մշակում է ներկայացվող տվյալները, իդենտիֆիկացնում մուտքագրողին՝ վերջինիս կողմից լրացված էլեկտրոնային փոստի հասցեի վրա ուղարկելով համապատասխան հղում, որով քաղաքացին կարող է ստանալ տեղեկատվություն՝ դիմումի ընթացքի վերաբերյալ: Դիմումի պատասխանը պետք է ուղարկվի նույն էլեկտրոնային փոստի հասցեին, որով կատարվել է գրանցումը:
    </p>
    <p>
        Համակարգը հնարավորություն է տալիս քաղաքացուն ներբեռնել դիմումի PDF տարբերակը, լրացնել այն ձեռքով (ընթեռնելի) և կցել դիմումի ներկայացման բաժնում՝ այլ պահանջվող փաստաթղթերի հետ միասին: Համակարգը վերջինիս կողմից լրացված էլեկտրոնային փոստի հասցեի վրա կուղարկի համապատասխան հղում, որով քաղաքացին կարող է ստանալ տեղեկատվություն՝ դիմումի ընթացքի վերաբերյալ: Դիմումի պատասխանը պետք է ուղարկվի նույն էլեկտրոնային փոստի հասցեին, որով կատարվել է գրանցումը:
    </p>
    <p>
        Քաղաքացին կարող է ինքը այցելել գերատեսչական հիմնարկ (ՀՀ առողջապահության նախարարություն, մարզպետարան, Երևանի քաղաքապետարան, ՀՀ ՊՆ, ԱԱԾ, ՈԾ և ԱԻՆ ռազմաբժշկական վարչություններ) և ներկայացնել դիմում՝ պահանջվող բոլոր փաստաթղթերով: Այս դեպքում դիմումները ընդունող պատասխանատու աշխատակիցը պետք է սքանավորի և համակարգում կցի դիմումը, ինչպես նաև կցի ներկայացված փաստաթղթերը: Այնուհետև քաղաքացուն պետք է տրամադրվի դիմումի ընդունման վերաբերյալ ծանուցագիր, եթե վերջինս չի նշում էլ. Փոստի հասցե:
    </p>
    <p>
        Դիմումի պատասխանը կարող է լինել 2-ը՝
        <ol>
            <li>Դիմումը մերժվում է: Այդ դեպքում կցվում են մերժման պաշտոնական պատճառաբանություններ: Եթե դիմումի մերժման պատճառը փաստաթղթերի կամ բժշկական ցուցումների ոչ լիարժեք լինելն է, ապա նոր դիմում կազմելու դեպքում քաղաքացին պետք է լրացնի նոր դիմումի ձև:</li>
            <li>Դիմումը բավարարվում է: Այդ դեպքում քաղաքացուն ուղարկված էլեկտրոնային նամակին կցվում է ուղեգրի էլեկտրոնային տարբերակը՝ PDF ֆորմատով և հարակից տեղեկատվությամբ:</li>
        </ol>
    </p>
    <p>
        <strong>2. Ուղեգրի ձևի լրացում և հաստատում</strong>:
        <br />
        Ուղեգիր լրացնող անձը հնարավորություն ունի լրացնել ուղեգրի ձևը և ուղարկել հաստատման համապատասխան լիազորություն ունեցող անձի: Ընդ որում, յուրաքանչյուր մուտքագրողի համար նշվում են հաստատող անձանց պաշտոնները, գերատեսչությունները՝ նախատեսելով նաև փոխարինողներին: Ուղեգիրը լրացնող անձը հնարավորություն ունի լրացնել ուղեգիր միայն տվյալ բժշկական կազմակերպության ԱԱՊ բժշկի մոտ գրանցված քաղաքացիների ցանկից, եթե ուղեգիրը լրացվում է ԱԱՊ բժշկական կազմակերպությունում:
    </p>
    <p>
        Ուղեգիրը լրացնող անձը կարող է որոնել ուղեգիրը՝ ըստ համակարգի կողմից գեներացված կոդի և քաղաքացուն տեղեկացնել ուղեգրի հաստատման մասին՝ քաղաքացու էլեկտրոնային փոստի հասցեին ուղարկելով հաստատված ուղեգրի համարը, այն բժշկական կազմակերպությունների ցանկը՝ համապատասխան տվյալներով (հեռախոսահամար, պատասխանատուի անուն, ազգանուն, էլեկտրոնային փոստի հասցե, կայքէջի հասցե), որտեղ քաղաքացին կարող է ստանալ իր բուժօգնությունը, տեղեկություններ առկա հերթերի վերաբերյալ, այլ տեղեկություններ պետական պատվերի շրջանակներում բուժօգնության ծավալների, քաղաքացու կողմից բժշկական կազմակերպություն ներկայացվող փաստաթղթերի ցանկի վերաբերյալ և այլն: Էլեկտրոնային հասցե չունենալու դեպքում քաղաքացին նշված տեղեկատվությունը կարող է ստանալ այցելելով e-referral.am կայքէջ և մուտքագրելով ուղեգրի համար դիմելիս փաստաթղթերն ընդունելուց տրամադրված կոդը (2 տառից և 6 թվից բաղկացած շարք, որը գեներացվում է ավտոմատ՝ քաղաքացու համար ուղեգրի ձև լրացնելուց և հաստատելուց հետո): Քաղաքացին կարող է ստանալ նաև ուղեգրի թղթային ձևը՝ այցելելով ուղեգրող կազմակերպություն: Այդ դեպքում համակարգում պետք է կատարվի համապատասխան նշում՝ թղթային ձևով ուղեգիր տրամադրելու մասին: Սակայն անկախ ուղեգրի տրամադրման ձևից, ուղեգրման համար պահանջվող ամբողջ տեղեկատվությունը մուտքագրվում է համակարգում:
    </p>
    <p>
        <strong>3. Ուղեգրի ձևի հիման վրա բուժօգնության ստացում</strong>:
        <br />
        Ստանալով հաստատման վերաբերյալ տեղեկատվությունը քաղաքացին կարող է այցելել իր կողմից ընտրված բժշկական կազմակերպություն և անհրաժեշտ փաստաթղթերի հետ միասին ներկայացնել նաև ուղեգրի համարը կամ արդեն տպագրված տեղեկատվությունը: Բժշկական կազմակերպության պատասխանատուն ուղեգրի համարով որոնում է ուղեգիրը, ծանոթանում տվյալներին և գրանցում ուղեգիրը՝ տվյալ քաղաքացուն սպասարկելու հետ կապված այլ հարցեր չլինելու դեպքում:
    </p>
    <h4>
        Հերթագրման ենթահամակարգ
    </h4>
    <p>
        Հերթագրման ենթահամակարգը ունի առանձին երկու գործառույթ իրականացնելու հնարավորություն.
    </p>
    <p>
        <strong>1. Ուղեգրի հիման վրա հիվանդանոցային դեպքի գրանցում</strong>:
        <br />
        Ուղեգրման տվյալների հիման վրա համակարգում պետք է իրականացվի բուժօգնության համար դիմելու գործընթացը՝ հերթագրման համար դիմելու տեսքով: Քաղաքացին կարող է էլեկտրոնային տեսքով դիմել բժշկական կազմակերպությանը՝ համապատասխան բուժօգնություն ստանալու նպատակով: Դիմելու համար պարտադիր պայմանը ուղեգրի սերիայի և համարի, ինչպես նաև ուղեգրի հաստատման ամսաթվի մուտքագրումն է:
    </p>
    <p>
        Համակարգը համադրման միջոցով ստուգում է մուտքագրված տվյալները և դրանք ուղեգրման ենթահամակարգում առկա ակտիվ ուղեգրերի տվյալների հետ համընկելու դեպքում թույլ տալիս շարունակել դիմումի ընթացքը: Ուղեգրման տվյալների հիման վրա հերթագրման թերթիկին համապատասխանող տվյալների մուտքագրումից հետո հերթագրման ենթահամակարգը ավտոմատ հաստատում է նշված դեպքի սպասարկման հնարավորությունը՝ ստուգելով տվյալ ծառայության հասանելությունը, հերթագրումների վիճակը, ֆինանսական հնարավորությունները և գեներացնում քաղաքացու անհատական տվյալները, հերթագրման համարը, նախնական ընդունման ամսաթիվը: Եթե համակարգը ավտոմատ հերթագրի քաղաքացուն (Նախնական ընդունման ամսաթիվ) և քաղաքացին այդ պահին տեղեկանա նախնական ամսաթվի մասին, ապա քաղաքացին կարող է այդ պահին էլ հրաժարվել հերթագրումից: Այդ դեպքում, բժշկական կազմակերպության պատասխանատուն պետք է ուղեգրի համապատասխան դաշտում կատարի նշում, որից հետո քաղաքացին կարող է դիմել այլ բժշկական կազմակերպություն: Եթե ուղեգրի համապատասխան դաշտում մնում է ընդունված նշումը, ապա հոսպիտալացման ավարտից հետո պետք է լրացվեն բուժման տևողության, մատուցված ծառայությունների, դրանց գների, վճարումների, հետազոտությունների, միջամտությունների, պրոցեդուրաների, խորհրդատվությունների, բուժման ելքի վերաբերյալ տվյալները՝ դրանք կցելով ուղեգրին:
    </p>
    <p>
        <strong>2. Հերթագրման ժամկետի ավտոմատ հաշվարկում և Նախնական ընդունման օրվա ավտոմատ գեներացում</strong>:
        <br />
        Հերթագրման ենթահամակարգը պետք է հնարավորություն ունենա հաշվարկել հերթագրման ժամկետը և ավտոմատ գեներացնել Նախնական ընդունման օրը՝ ըստ նախորոք մուտքագրված ցուցանիշների հիման վրա վերլուծական հաշվարկների: Ցուցանիշների կազմը և դրանց վերլուծման սկզբունքները պետք է հաստատվեն ՀՀ առողջապահության նախարարության կողմից, որից հետո դրանք կարող են մուտքագրվել համակարգ: Հերթագրման ենթահամակարգը պետք է հնարավորություն ունենա փոփոխել Նախնական ընդունման օրը՝ ցուցանիշների մեծության փոփոխությունների դեպքում: Ենթահամակարգը նաև պետք է այդ մասին հաղորդագրություններ տրամադրի և/կամ ուղարկի համակարգի որոշակի գործարկողներին:
    </p>
    <h4>
        Որոնողական ենթահամակարգ
    </h4>
    <p>
        Համակարգը ունի որոնողական ենթահամակարգ, որից օգտվում են բոլոր մակարդակների Օգտվողները՝ յուրաքանչյուրի համար նախօրոք մշակված Դերերի (Role) սահմաններում: Այն հնարավորություն է տալիս համապատասխան չափանիշների միաժամանակյա կամ առանձին ընտրությամբ որոնումներ իրականացնել՝ մասնավորապես, ըստ՝ 
        <ul>
            <li>ուղեգրող կազմակերպության/մարմնի,</li>
            <li>ժամանակի ցանկացած ինտերվալի,</li>
            <li>ուղեգրվողների և հերթագրվածների անհատական տվյալների,</li>
            <li>ուղեգրի կարգավիճակների (գրանցված, հաստատված, հերթագրված, սպասարկված և այլն),</li>
            <li>ուղեգրող և բուժումն իրականացնող բժշկական կազմակերպությունների, ծառայությունների, ախտորոշումների</li>
            <li>ուղեգրող և բուժումն իրականացնող բժշկի/բժիշկների</li>
            <li>և այլ ձևաչափերի ստանալու, դուրսհանելու, պահպանելու (word, excel, pdf ֆորմատներով), տպելու (print, scan),:</li>
        </ul>
    </p>
    <p>
        Որոնողական ենթահամակարգը հնարավորություն է տալիս մուտքագրված համապատասխան չափանիշներով ստացված արդյունքների համադրմամբ կազմել և որոնողի համակարգչի էկրանին դուրս բերել պատվիրված չափանիշներով տվյալները ըստ տողերի:
    </p>
</div>

