
@{
    ViewBag.Title = "Գաղտնաբառի վերականգնման հաստատում";
}
<div class="homePage">
    <div class="background-fon">
        <div class="container">
            <div class="row">
                <div class="homePage-container">
                    @*<h1>Ստուգեք Ձեր էլեկտրոնային փոստը</h1>*@
                    <section id="loginForm">
                        <hr />
                        <p class="homePage-container-text">
                            Ձեր գաղտնաբառը վերականգնված է։
                            <br />
                            <a href="@Url.Action("Login", "Account")" class="login-link"><i class="fa fa-sign-in"></i> Մուտք</a>
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $(".background-fon").height($(window).height()-80);
</script>